@using CORE.Componentes
@model IEnumerable<SOP.Entidades.AlmoxarifadoOrigem>

@{
    ViewBag.Title = "Parametrização Almoxarifado Origem";
}

@{
    ViewBag.Title = "Parametrização Almoxarifado Origem";
    var breadCrumbs = new List<KeyValuePair<string, string>>();
    breadCrumbs.Add(new KeyValuePair<string, string>("/Parametrizacao/Listar", "Parametrização"));
    breadCrumbs.Add(new KeyValuePair<string, string>("#", ViewBag.Title));
    ViewBag.Breadcrumbs = breadCrumbs;
}

<script src="<%= Url.Content('~/Scripts/jquery.min.js') %>"></script>
<script src="<%= Url.Content('~/Scripts/kendo.all.min.js') %>"></script>
<script src="<%= Url.Content('~/Scripts/kendo.aspnetmvc.min.js') %>"></script>
<script src="<%= Url.Content('~/Scripts/cultures/kendo.culture.pt-BR.min.js') %>"></script>

<div class="row">
    <div class="col-md-12">
        @Html.MessageBoxes(TempData["successMessage"], Html.ValidationMessage(""))
    </div>
    <div class="col-md-12">
        @(Html.KendoGrid<SOP.Entidades.AlmoxarifadoOrigem>("almoxarifadoOrigemGrid")
                .ToolbarLimpar("gridAllFilterReset")
                .ToolbarExportarExcel("Exportar", "AlmoxarifadoOrigem.xls")
                .Columns(columns =>
                {
                    columns.Bound(p => p.IdAlmoxarifadoOrigem).Visible(false);
                    columns.Bound(p => p.CodigoAlmoxarifadoOrigem).Title("Código").Width(100);
                    columns.Bound(p => p.Descricao).Title("Descrição").Width(950);
                })
                .Editable(ed =>
                {
                    ed.Mode(GridEditMode.PopUp)
                        .Window(w => w.Title("Manutenção de Almoxarifado Origem").Width(450));
                })
               .DataSource(dataSource => dataSource
               .Ajax()
               .Sort(sort => sort.Add(p => p.IdAlmoxarifadoOrigem).Ascending())
               .Events(events => events.Error("error_handler").Sync("sync_handler").RequestEnd("onRequestEnd"))
               .Model(model =>
               {
                   model.Id(p => p.IdAlmoxarifadoOrigem);
               })
                    .Create(update => update.Action("Inserir", "AlmoxarifadoOrigem"))
                    .Read(read => read.Action("Ler", "AlmoxarifadoOrigem"))
                    .Update(update => update.Action("Atualizar", "AlmoxarifadoOrigem"))
                    .Destroy(update => update.Action("Apagar", "AlmoxarifadoOrigem"))
               )
        )
    </div>
</div>

<script>
    kendo.culture("pt-BR");
</script>