<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>

    <!--Connection string utilizada apenas pelos projetos NETLOG, mais especificamente o NETLOG.AutoComplete-->
    <add name="TPIEntitiesConnectionString" connectionString="User Id={0};Password={1};Server={2};Port={3};Direct=True;Sid={4};Persist Security Info=True" providerName="Devart.Data.Oracle" />

    <!--<add name="TIGEntitiesConnectionString" connectionString="User Id={0};Password={1};Server={2};Direct=True;Sid={3};Persist Security Info=True" providerName="Devart.Data.Oracle" />
    <add name="TPIEntitiesConnectionString" connectionString="User Id={0};Password={1};Server={2};Port=1523;Direct=True;Sid={3};Persist Security Info=True" providerName="Devart.Data.Oracle" />
    <add name="ISAEntitiesConnectionString" connectionString="User Id=msa_tes;Password=patios;Server=homolog.mrs.com.br;Direct=True;Sid=orajfd02;Persist Security Info=True" providerName="Devart.Data.Oracle" />
    <add name="TCPModelConnectionString" connectionString="metadata=res://PORTAL.Modelo/TPIDataModel.csdl|res://PORTAL.Modelo/TPIDataModel.ssdl|res://PORTAL.Modelo/TPIDataModel.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=tcp_consulta;Password=consulta_tcp;Server=ORAJFH02;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TPIModelConnectionString" connectionString="metadata=res://PORTAL.Modelo/TPIDataModel.csdl|res://PORTAL.Modelo/TPIDataModel.ssdl|res://PORTAL.Modelo/TPIDataModel.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=u_tpi;Password=JDMH412;Server=ORAJFH02;Persist Security Info=True;Initialization Command='SET ROLE R_TPI IDENTIFIED BY &quot;&quot;JDMH412&quot;&quot;'&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--Endereço do Servidor LDAP-->
    <add key="LDAPConnectionString" value="LDAP://mrs.com.br" />
    <!--Códigos da aplicação no ISA-->
    <add key="AppCodeISA" value="TAC" />
    
    <add key="chaveEBS" value="lfhiasafdhifahipjasfiph" />
    <add key="usuarioEBS" value="mrsc" />
    <add key="senhaEBSCripto" value="KVtqSM/W9rkLkv5oIHbSkg==" />
    <add key="instanceEBS" value="FABRICA" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="Devart.Data.Oracle" type="Devart.Data.Oracle.Entity.OracleEntityProviderServices, Devart.Data.Oracle.Entity, Version=8.4.201.6, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </providers>
  </entityFramework>
  <!--<system.data>
    <DbProviderFactories>
      <remove invariant="Devart.Data.Oracle"/>
      <add name="dotConnect for Oracle" invariant="Devart.Data.Oracle" description="Devart dotConnect for Oracle" type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle, Version=8.4.191.0, Culture=neutral, PublicKeyToken=09af7300eec23701"/>
    </DbProviderFactories>
  </system.data>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>