.timeline {
	list-style: none; margin: 0px; padding: 0px; position: relative;
}
.timeline::before {
	background: rgb(204, 204, 204); left: 20%; top: 0px; width: 10px; bottom: 0px; margin-left: -10px; position: absolute; content: "";
}
.timeline > li {
	position: relative;
}
.timeline > li .timeline-time {
	width: 15%; text-align: right; display: block; position: absolute;
}
.timeline > li .timeline-time span {
	text-align: right; display: block;
}
.timeline > li .timeline-time span.date {
	color: rgb(170, 170, 170); font-size: 12px; font-weight: 300; display: block;
}
.timeline > li .timeline-time span.time {
	line-height: 38px; font-size: 38px; font-weight: 300;
}
.timeline > li .timeline-body {
	margin: 0px 0px 15px 25%; padding: 10px; border-radius: 5px; color: rgb(255, 255, 255); font-weight: 300; position: relative;
}
.timeline > li .timeline-body h2 {
	padding: 0px 0px 5px; font-size: 24px; margin-top: 0px; border-bottom-color: rgba(255, 255, 255, 0.3); border-bottom-width: 1px; border-bottom-style: solid;
}
.timeline > li .timeline-content {
	font-size: 14px;
}
.ie8 .timeline > li .timeline-body h2 {
	border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.timeline > li .timeline-body img.timeline-img {
	margin: 5px 10px 0px 0px; width: 75px; height: 75px;
}
.timeline > li .timeline-body img.pull-right {
	margin-left: 10px;
}
.timeline > li .timeline-body a.nav-link {
	padding: 0px; text-align: left; color: rgb(255, 255, 255); font-size: 14px; text-decoration: none; margin-top: 10px; display: inline-block;
}
.timeline > li .timeline-body a.nav-link:hover {
	opacity: 0.5;
}
.timeline > li .timeline-body .btn {
	margin-top: 10px;
}
.timeline > li .timeline-body::after {
	border-width: 10px; border-style: solid; border-color: transparent rgb(53, 148, 203) transparent transparent; border-image: none; top: 19px; width: 0px; height: 0px; right: 100%; position: absolute; content: " "; pointer-events: none;
}
.timeline > li .timeline-content::after {
	line-height: 0; display: table; content: "";
}
.timeline > li .timeline-content::before {
	line-height: 0; display: table; content: "";
}
.timeline > li .timeline-content::after {
	clear: both;
}
.timeline > li .timeline-footer::after {
	line-height: 0; display: table; content: "";
}
.timeline > li .timeline-footer::before {
	line-height: 0; display: table; content: "";
}
.timeline > li .timeline-footer::after {
	clear: both;
}
.timeline > li .timeline-icon {
	background: rgb(170, 170, 170); margin: 5px 0px 0px -25px; border-radius: 30px !important; left: 20%; top: 0px; width: 40px; height: 40px; text-align: center; color: rgb(255, 255, 255); text-transform: none; line-height: 40px; padding-right: 1px; padding-bottom: 3px; padding-left: 2px; font-size: 1.4em; font-style: normal; font-variant: normal; font-weight: normal; position: absolute; box-shadow: 0px 0px 0px 8px #ccc; -webkit-font-smoothing: antialiased; -webkit-border-radius: 30px; -moz-border-radius: 30px; speak: none;
}
.timeline > li .timeline-icon > i {
	font-size: 18px;
}
.timeline li.timeline-red .timeline-body::after {
	border-right-color: rgb(224, 34, 34);
}
.timeline li.timeline-red .timeline-body {
	background: rgb(224, 34, 34);
}
.timeline li.timeline-red .timeline-time span.time {
	color: rgb(224, 34, 34);
}
.timeline li.timeline-yellow .timeline-body::after {
	border-right-color: rgb(255, 184, 72);
}
.timeline li.timeline-yellow .timeline-body {
	background: rgb(255, 184, 72);
}
.timeline li.timeline-yellow .timeline-time span.time {
	color: rgb(255, 184, 72);
}
.timeline li.timeline-green .timeline-body::after {
	border-right-color: rgb(53, 170, 71);
}
.timeline li.timeline-green .timeline-body {
	background: rgb(53, 170, 71);
}
.timeline li.timeline-green .timeline-time span.time {
	color: rgb(53, 170, 71);
}
.timeline li.timeline-blue .timeline-body::after {
	border-right-color: rgb(75, 141, 248);
}
.timeline li.timeline-blue .timeline-body {
	background: rgb(75, 141, 248);
}
.timeline li.timeline-blue .timeline-time span.time {
	color: rgb(75, 141, 248);
}
.timeline li.timeline-purple .timeline-body::after {
	border-right-color: rgb(133, 43, 153);
}
.timeline li.timeline-purple .timeline-body {
	background: rgb(133, 43, 153);
}
.timeline li.timeline-purple .timeline-time span.time {
	color: rgb(133, 43, 153);
}
.timeline li.timeline-grey .timeline-body::after {
	border-right-color: rgb(85, 85, 85);
}
.timeline li.timeline-grey .timeline-body {
	background: rgb(85, 85, 85);
}
.timeline li.timeline-grey .timeline-time span.time {
	color: rgb(85, 85, 85);
}
@media all and (max-width:767px)
{
timeline > li .timeline-time span.time {
	font-size: 18px;
}
.timeline::before {
	display: none;
}
.timeline > li .timeline-time {
	padding: 0px 0px 20px; width: 100%; position: relative;
}
.timeline > li .timeline-time span {
	text-align: left;
}
.timeline > li .timeline-body {
	margin: 0px 0px 30px; padding: 1em;
}
.timeline > li .timeline-body::after {
	left: 20px; top: -20px; right: auto;
}
.timeline > li .timeline-icon {
	margin: -55px 5px 0px 0px; left: auto; float: right; position: relative;
}
.timeline li.timeline-red .timeline-body::after {
	border-right-color: transparent; border-bottom-color: rgb(224, 34, 34);
}
.timeline li.timeline-blue .timeline-body::after {
	border-right-color: transparent; border-bottom-color: rgb(75, 141, 248);
}
.timeline li.timeline-green .timeline-body::after {
	border-right-color: transparent; border-bottom-color: rgb(53, 170, 71);
}
.timeline li.timeline-yellow .timeline-body::after {
	border-right-color: transparent; border-bottom-color: rgb(255, 184, 72);
}
.timeline li.timeline-purple .timeline-body::after {
	border-right-color: transparent; border-bottom-color: rgb(133, 43, 153);
}
.timeline li.timeline-grey .timeline-body::after {
	border-right-color: transparent; border-bottom-color: rgb(85, 85, 85);
}
}
