@{
    /*
    <div class="theme-panel hidden-xs hidden-sm">
        <div class="toggler">
            <i class="fa fa-gear"></i>
        </div>
        <div class="theme-options" style="min-width: 250px">
            <div class="theme-option theme-colors clearfix">
                <span style="font-weight: 600">Parametrização</span>
            </div>
            <div class="theme-option">
                <span style="font-weight: 600; margin-bottom: .4em">Configurações</span>
                <a href="/TipoRequisicaoAcidente/">Tipo de Requisição do Acidente</a>
                <a href="/SessaoRequisicaoAcidente/">Seção de Requisição do Acidente</a>
                <a href="#">Grupo de Requisição do Acidente</a>
                <a href="#">Domínio Valor de Requisição do Acidente</a>
            </div>
            <div class="theme-option">
                <span style="font-weight: 600; margin-bottom: .4em">Cadastros&nbsp;Básicos</span>
                <a href="/TipoGravidadeAcidente">Tipo de Gravidade de Acidente</a>
                <a href="/TipoElementoAcidentado">Tipo de Elemento Acidentado</a>
                <a href="/TipoCausaAcidente">Tipo Causa Acidente</a>
                <a href="/TipoAcidente">Tipo do Acidente</a>
                <a href="/TipoItemApuracao">Tipos de Item para Apuração</a>
                <a href="/StatusSituacaoIndenizacao">Situação da Indenização</a>
                <a href="/MotivoIncidente">Motivos de Incidentes</a>
                <a href="#">Meta de Segurança e Risco</a>
            </div>
        </div>
    </div>

    <style>
        .theme-option a {
            display: block;
            padding: .4em 0 .4em .8em;
            color: #333;
            text-decoration: none;
        }

        .theme-option a:hover {
            background-color: #e1e1e1;
        }
    </style>
     */
}
