.autoCompleteFluxoTrptContent{
    position:relative;
    height: 40px;
    border-bottom: 1px solid whitesmoke;
    width: 100%;
}

.autoCompleteFluxoTrptTitle {
    font-weight:bold;
    font-size:12px;
}

.autoCompleteFluxoTrptDesc {
    position: absolute;
    bottom: 0;
    left: 2px;
    font-size: 10px;
}