<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
-->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--Connection string utilizada apenas pelos projetos NETLOG, mais especificamente o NETLOG.AutoComplete-->
    <add name="TPIEntitiesConnectionString" connectionString="User Id={0};Password={1};Server={2};Port={3};Direct=True;Sid={4};Persist Security Info=True" providerName="Devart.Data.Oracle" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--Endereço do Servidor LDAP-->
    <add key="LDAPConnectionString" value="LDAP://mrs.com.br" />   

    <!--<add key="chaveEBS" value="lfhiasafdhifahipjasfiph" />
    <add key="usuarioEBS" value="mrsc" />
    <add key="senhaEBSCripto" value="KVtqSM/W9rkLkv5oIHbSkg==" />
    <add key="instanceEBS" value="FABRICA" />-->

    <!--<add key="usuarioEBS" value="mrsc"/>
    <add key="senhaEBSCripto" value="KVtqSM/W9rkLkv5oIHbSkg=="/>
    <add key="Server" value="lnxjf90.mrs.com.br"/>
    <add key="instanceEBS" value="FAB"/>
    <add key="chaveEBS" value="lfhiasafdhifahipjasfiph"/>
    <add key="AppTitle" value="MGR"/>
    <add key="AppCodeSystem" value="MGR"/>
    <add key="Port" value="1521"/>
    <add key="AppCodeISA" value=""/>
    <add key="StaticRoot" value="/Content/"/>-->

    <!--<add key="chaveEBS" value="lfhiasafdhifahipjasfiph2" />
    <add key="usuarioEBS" value="U_MGR" />
    <add key="senhaEBSCripto" value="UZnGrYv9xhv2vSk/4D2mHg==" />
    <add key="instanceEBS" value="DESE" />-->

    <!--<add key="chaveEBS" value="kmyt5rgf5re43eanvbji63t6" />
    <add key="usuarioEBS" value="U_MGR" />
    <add key="senhaEBSCripto" value="bZlSp+1CHf/PX8u11VMjOA==" />
    <add key="instanceEBS" value="HOM" />-->

    <add key="usuarioEBS" value="u_mgr"/>
    <add key="senhaEBSCripto" value="bZlSp+1CHf/PX8u11VMjOA=="/>
    <add key="Server" value="hpxjf35.mrs.com.br"/>
    <add key="instanceEBS" value="HOM"/>
    <add key="chaveEBS" value="kmyt5rgf5re43eanvbji63t6"/>
    <add key="AppTitle" value="MGR"/>
    <add key="AppCodeSystem" value="MGR"/>
    <add key="Port" value="1521"/>
    <add key="AppCodeISA" value=""/>
    <add key="StaticRoot" value="/Content/"/>

    <!--<add key="GrupoAcessoAdministradores" value="G_MGR_ADMIN_DES"/>
    <add key="GrupoAcessoInspetorHorto" value="G_MGR_INSHF_DES"/>
    <add key="GrupoAcessoInspetorConsLafaiete" value="G_MGR_INSCL_DES"/>
    <add key="GrupoAcessoAssistenteHorto" value="G_MGR_ASSHF_DES"/>
    <add key="GrupoAcessoAssistenteConsLafaiete" value="G_MGR_ASSCL_DES"/>
    <add key="GrupoAcessoIndicadores" value="G_MGR_INDIC_DES"/>-->

    <add key="GrupoAcessoAdministradores" value="G_MGR_ADMIN_HOM"/>
    <add key="GrupoAcessoInspetorHorto" value="G_MGR_INSHF_HOM"/>
    <add key="GrupoAcessoInspetorConsLafaiete" value="G_MGR_INSCL_HOM"/>
    <add key="GrupoAcessoAssistenteHorto" value="G_MGR_ASSHF_HOM"/>
    <add key="GrupoAcessoAssistenteConsLafaiete" value="G_MGR_ASSCL_HOM"/>
    <add key="GrupoAcessoIndicadores" value="G_MGR_INDIC_HOM"/>
    
  </appSettings>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="2097151" />
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" errorMode="Detailed"></httpErrors>
  </system.webServer>
  <system.web>
    <customErrors mode="Off"/>
    <globalization culture="pt-BR" uiCulture="pt-BR" enableClientBasedCulture="true" />
    <compilation targetFramework="4.5.1" debug="true" />
    <trace enabled="true" pageOutput="false" requestLimit="40" localOnly="false" />
    <!--<httpRuntime targetFramework="4.5.1" maxUrlLength="10999" maxQueryStringLength="2097151"/>-->
    <httpRuntime targetFramework="4.5.1" maxUrlLength="2097151" maxQueryStringLength="2097151" />
    <pages>
      <namespaces>
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="Devart.Data.Oracle" type="Devart.Data.Oracle.Entity.OracleEntityProviderServices, Devart.Data.Oracle.Entity, Version=8.4.201.6, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="__soap_ConsultarInspecaoLocomotiva_consultarDataProximaInspecao_ppt" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://soapro.mrs.com.br:80/event/Manutencao/OrdemDeServico/ConsultarInspecaoLocomotiva" binding="basicHttpBinding" bindingConfiguration="__soap_ConsultarInspecaoLocomotiva_consultarDataProximaInspecao_ppt" contract="ESB_ConsultarInspecaoLocomotiva_Service.consultarDataProximaInspecao_ppt" name="__soap_ConsultarInspecaoLocomotiva_consultarDataProximaInspecao_ppt" />
    </client>
  </system.serviceModel>
</configuration>